@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  @apply text-[#0D0D0D];
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700; /* bold */
  font-size: 54px;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 600; /* semi-bold */
  font-size: 32px;
  line-height: 1.3;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 600; /* semi-bold */
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.1px;
}

html,
body,
#root {
  height: 100%;
}

.prose p {
  margin-bottom: 1.25rem; /* 20px */
}

p > a {
  color: #80b9bf;
}

hr {
  margin-top: 4rem;
  color: white
}

@layer base {
  body {
    @apply text-[#0D0D0D];
  }
}

@layer components {
  .nav-link {
    @apply relative inline-block no-underline text-current transition-colors duration-300;
  }

  /* Exclude images and buttons inside nav links */
  .nav-link img,
  .nav-link button {
    all: unset;
    display: revert;
  }

  /* Animated underline */
  .nav-link::after {
    content: "";
    @apply absolute left-0 -bottom-[2.5px] h-[3px] w-0 bg-[#F2A999] transition-all duration-300;
  }

  /* Hover effect */
  .nav-link:hover::after {
    @apply w-full;
  }

  /* Active or current page */
  .nav-link.active::after,
  .nav-link[aria-current="page"]::after {
    @apply w-full bg-[#0D0D0D];
  }
}

/* Palette reference
#80B9BF
#F2D377
#F2A999
#0D0D0D
#F2F2F2
*/

.vignette-overlay {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5) 100%);
}
